<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todo App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background-color:green">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class="container">
<div class="row">
<div class="col" style="margin:0 auto; padding-top:8%;" align="center">


<h1 style="color:white">Update Task</h1>
<br>
{% load crispy_forms_tags %}
<form method="POST" action="">
{% csrf_token %}

{{form|crispy }}
<br>
<button class="btn btn-outline-light" type="submit" ><h3>Update Task</h3></button>
</form>
</div>
</div>
</div>

</body>
</html>